<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="0"
       name="Qase Automation Suite"
       parallel="false">

    <listeners>
        <listener class-name="listeners.TestListener"/>
        <listener class-name="listeners.RetryListener"/>
    </listeners>

    <test name="UI Tests">
        <classes>
            <class name="tests.ui.LoginTest"/>
            <class name="tests.ui.ProjectTest"/>
            <class name="tests.ui.SuiteTest"/>
            <class name="tests.ui.TestCaseTest"/>
            <class name="tests.ui.E2ETest"/>
            <class name="tests.ui.LogoutTest"/>

        </classes>
    </test>

    <test name="API TEST">
        <classes>
            <class name="tests.api.ProjectAPITest"/>
            <class name="tests.api.CaseAPITest"/>
        </classes>
    </test>


    </suite>